# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/
.env
.env.*
*.secret
*.bak

# Virtual environments
venv/
ENV/
env/
.venv/
.Python

# VSCode/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock

# Coverage/test
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
 